/* Create two equal columns that floats next to each other */
section {
  width: 100%;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
}

.column-main {
  float: left;
  width: 50%;
  padding: 10px;
}

.column-other {
  float: right;
  width: 10%;
  padding: 10px;
  margin-right: 10%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.userIcon:hover {
  color: rgb(115, 250, 115);
  cursor: pointer;
}
