section {
  width: 100%;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.sucessmsg {
  background-color: lightgreen;
  color: green;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.buttons {
  width: 100%;
  margin: 0 auto;
  display: inline;
}

.btnSave:hover {
  cursor: pointer;
}

.btnCancel:hover {
  cursor: pointer;
}

.btnSave {
  background-color: lightgreen;
  float: left;
  width: 70%;
}

.btnCancel {
  background-color: lightcoral;
  float: right;
  width: 30%;
}
